
div{
    width: 500px;
    height: 800px;
    background-color: white;
    border-radius: 30px;
    border: 200px;
    margin-top: 50px;
   

    
}
 #rock{
    width: 500px;
    height: 400px;
    background-color: rgba(0, 0, 255, 0.884);
    border-radius: 30px;
    background-position: center;
    padding-top: 50px;
     
}
.second{
    width: 300px;
    height: 200px;
    background-image: url(00321648_89382323e4873b379d913ebda111fc8e_arc614x376_w1200.webp);
    border-radius: 10000px;
    background-position: center;
    margin-left: 90px;
    padding-top: 79px;
    border-width: 1000px;
    border-color: solid white;
    background-size: cover;
    
}
h1{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: center;
 

} 
p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: center;
    padding-bottom: 90px;
}
button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgba(0, 0, 255, 0.911);
    font-size: 20px;
    width: 150px;
    height: 35px
    
    
        
}

