*{
    border: 0px;
    box-sizing: border-box;
    margin-left: 110px;
  
}

div{
    width: 70%;
    height:900px;
    background-color: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(architecture-gloomy-outstretched-occupation-digital.jpg);
    background-blend-mode: darken;
    
    

}
h1{
    margin-left:  70px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    padding-top: 70px;
    padding-left: 40px;
    

}
#class{
    width: 900px;
    height: 170px;
    background-image: none;
    background-color: transparent;
    background-position: normal;
    position: center;
    margin-left: 90px;
    padding-top: 50px; 
    padding-bottom: 300px;
      
}
p{
   
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding-bottom: 200px; 
}
.second{
    background-color: rgb(255, 255, 255);
    width: 790px;
    height: 41px;
    background-image: transparent;
    margin-left: 200px;
    background-image: none; 
    margin-top: 20px;
    border-radius: 5px; 

     
}

h2{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.425);
    margin-right: 80px;
    margin-left: 10px;
}
#first{
    background-color: rgb(255, 255, 255);
    width: 790px;
    height: 41px;
    background-image: transparent;
    margin-left: 200px;
    background-image: none; 
    margin-top: 20px;
    border-radius: 5px;
}
.container{
    width: 180px;
    height: 50px;
    background-color: blue;
    background-image: none;
    background-color: transparent;
}
.first{
    background-color: rgb(255, 255, 255);
    width: 790px;
    height: 190px;
    background-image: transparent;
    margin-left: 200px;
    background-image: none; 
    margin-top: 20px;
    border-radius: 5px;
}
button{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 255, 0.445);
    margin-top: 60px;
    margin-left: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
} 
